.btn--custom {
    display: block;
    text-align: center;
    width: 20vw;
    padding: 1em;
    margin: 20px auto;
    background-color: #2F343C;
    color: white;
    font-size: large;
}

.title_line {
    width: 20vw;
}

.header-logo-container{
    height: 30vh;
}
