body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bloc--bg-gradient {
  height: 70vh;
  background-image: url(./assets/img/bg-gradient.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.btn--custom {
  display: block;
  text-align: center;
  width: 20vw;
  padding: 1em;
  margin: 20px auto;
  background-color: #2f343c;
  color: white;
  font-size: large;
}
