.loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
}

.loading-infos {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 80px 40px;
    border-radius: 5px;
}

.loading p {
    text-align: center;
}

.App-loading{
    background-image: url("../../../assets/img/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}